<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" 
    class="myForm" method="get" enctype="application/x-www-form-urlencoded"
        action="/html/codes/html_form_handler.cfm" >

        <p>
            <label>Name:
                <input type="text" formControlName="name" name="customer_name" required>
            </label>
        </p>

        <p>
            <label>Phone
                <input type="tel" formControlName="phone" name="phone_number">
            </label>
        </p>

        <p>
            <label>Email
                <input type="email" formControlName="email" name="email_address">
            </label>
        </p>

        <fieldset>
            <legend>Which taxi do you require?</legend>
            <p><label class="choice"> <input type="radio" formControlName="taxi" name="taxi" required value="car"> Car </label></p>
            <p><label class="choice"> <input type="radio" formControlName="taxi" name="taxi" required value="van"> Van </label></p>
            <p><label class="choice"> <input type="radio" formControlName="taxi" name="taxi" required value="tuktuk"> Tuk Tuk </label></p>
        </fieldset>

        <fieldset>
            <legend>Extras</legend>
            <p><label class="choice"> <input type="checkbox" formControlName="extra" name="extra" value="baby"> Baby Seat </label></p>
            <p><label class="choice"> <input type="checkbox" formControlName="extra" name="extra" value="wheelchair"> Wheelchair Access
                </label>
            </p>
            <p><label class="choice"> <input type="checkbox" formControlName="extra" name="extra" value="tip"> Stock Tip </label></p>
        </fieldset>

        <p>
            <label>Pickup Date/Time
                <input type="datetime-local" formControlName="dateTime" name="pickup_time" required>
            </label>
        </p>

        <p>
            <label>Pickup Place
                <select id="pickup_place" formControlName="pikupPlace" name="pickupPlace">
                    <option value="" selected="selected">Select One</option>
                    <option value=" Taxi office">Taxi Office</option>
                    <option value="town_hall">Town Hall</option>
                    <option value="call_and_check">Call and Check</option>
                </select>
            </label>
        </p>

        <p>
            <label>Dropoff Place
                <!--<input type="text" name="dropoff_place" required list="destinations">-->
                <select id="dropoff_place" formControlName="dropoffPlace" name="dropoff_place">
                    <option value="" selected="selected">Select One</option>
                    <option value="airport">Airport</option>
                    <option value="beach">Beach</option>
                    <option value="Fred Flinstone House">Fred Flinstone's House</option>
                </select>
            </label>

            <!--<datalist id="destinations">
                <option value="Airport">
                <option value="Beach">
                <option value="call_and_check">
            </datalist> -->
        </p>

        <p>
            <label>Special Instructions
                <textarea formControlName="instructions" name="comments" maxlength="500"></textarea>
            </label>
        </p>

        <p><button type="submit">Submit Booking</button></p>

    </form>
    <div class="bookings">
        <table class="booking-list">
            <thead>
                <th>Booking ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Taxi Type</th>
                <th>Extras</th>
                <th>Pickup Date/Time</th>
                <th>Pickup Place</th>
                <th>Dropoff Place</th>
                <th>Special Instructions</th>
                <th></th>
            </thead>
            <tbody>             
                <tr *ngFor="let detail of result">
                    <td>{{ detail.id}} </td>
                    <td>{{ detail.name }} </td>
                    <td>{{ detail.phone }}</td>      
                    <td>{{ detail.email }}</td>
                    <td>{{ detail.taxi}} </td>
                    <td>{{ detail.extra}} </td>
                    <td>{{ detail.dateTime}} </td>
                    <td>{{ detail.pikupPlace}} </td>
                    <td>{{ detail.dropoffPlace}} </td>
                    <td>{{ detail.instructions}} </td>
                    <td><button (click)="Edit(detail.id)">Edit</button></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>