<div class="container">
    <form [formGroup]="cusform" (ngSubmit)="onSubmit(cusform)">

        <p>
            <label>Name
                <input formControlName="name" type="text" name="customer_name" required>
               
               
            </label>
        </p>

        <p>
            <label>Phone
                <input formControlName="phone" type="tel" name="phone_number">
            </label>
        </p>

        <p>
            <label>Email
                <input formControlName="email" type="email" name="email_address">
            </label>
        </p>

        <fieldset>
            <legend>Which taxi do you require?</legend>
            <p><label class="choice"> <input type="radio" formControlName="ch" required value="car"> Car </label></p>
            <p><label class="choice"> <input type="radio" formControlName="ch" required value="van"> Van </label></p>
            <p><label class="choice"> <input type="radio" formControlName="ch" required value="tuktuk"> Tuk Tuk </label></p>
        </fieldset>

        <fieldset>
            <legend>Extras</legend>
            <p><label class="choice"> <input type="checkbox" formControlName="choose" name="extras" value="baby"> Baby Seat </label></p>
            <p><label class="choice"> <input type="checkbox" formControlName="choose"  name="extras" value="wheelchair"> Wheelchair Access
                </label>
            </p>
            <p><label class="choice"> <input type="checkbox" formControlName="choose"  name="extras" value="tip"> Stock Tip </label></p>
        </fieldset>

        <p>
            <label>Pickup Date/Time
                <input type="datetime-local" formControlName="date"  required>
            </label>
        </p>

        <p>
            <label>Pickup Place
                <select id="pickup_place" formControlName="pickup" >
                    <option value="" selected="selected">Select One</option>
                    <option value="office">Taxi Office</option>
                    <option value="town_hall">Town Hall</option>
                    <option value="call_and_check">Call and Check</option>
                </select>
            </label>
        </p>

        <p>
            <label>Dropoff Place
                <!--<input type="text" name="dropoff_place" required list="destinations">-->
                <select id="dropoff_place" formControlName="drop">
                    <option  value="" selected="selected">Select One</option>
                    <option  value="airpot">Airport</option>
                    <option value="beach">Beach</option>
                    <option  value="call_and_check">Fred Flinstone's House</option>
                </select>
            </label>
            <!--<datalist id="destinations">
                <option value="Airport">
                <option value="Beach">
                <option value="call_and_check">
            </datalist> -->
        </p>
        <p>
            <label>Special Instructions
                <textarea formControlName="instructions"  maxlength="500"></textarea>
            </label>
        </p>
        <p><button>Submit Booking</button></p>
    </form>
    <div class="bookings">
        <table class="booking-list">
            <thead>
                <th>Booking ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Taxi Type</th>
                <th>Extras</th>
                <th>Pickup Date/Time</th>
                <th>Pickup Place</th>
                <th>Dropoff Place</th>
                <th>Special Instructions</th>
                <th></th>
            </thead>
            <tbody>
<tr *ngFor=" let cus of cusList">
 <td>{{cus.id}}</td>
 <td>{{cus.name}}</td>
 <td>{{cus.phone}}</td>
 <td>{{cus.email}}</td>
 <td>{{cus.ch}}</td>
 <td>{{cus.choose}}</td>
 <td>{{cus.date}}</td>
 <td>{{cus.pickup}}</td>
 <td>{{cus.drop}}</td>
 <td>{{cus.instructions}}</td>
 </tr>
        </table>
    </div>
</div>
